<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindContext" connectionString="Data Source=DESKTOP-2V8QO09\SQLEXPRESS; initial catalog=Northwind; integrated Security=True;"
         providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>